asgiref==3.10.0
certifi==2025.10.5
distlib==0.4.0
Django==5.2.8
django-filter==25.2
filelock==3.20.0
packaging==25.0
pipenv==2025.0.4
platformdirs==4.5.0
setuptools==80.9.0
sqlparse==0.5.3
virtualenv==20.35.4
